<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Page not found</title>
  </head>
  <body>
    <h1> 404 =)     <%= message %></h1>
  </body>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Page not found</title>
  </head>
  <body>
    <h1> 404 =)     <%= message %></h1>
  </body>
>>>>>>> 69883fec1c4b1ec0796f0f2c16020019a8e480f4
</html>