<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Creation</title>
</head>
<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #ff4500;
    padding: 10px;
    font-size: 20px;
  }

  .header a {
    color: #ff4500;
    text-decoration: none;
    margin-right: 20px;
  }

  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }

  .header button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  hr {
    margin: 0;
    border: 1px solid #ff4500;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .PostCreation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4400;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
  }

  .PostCreation a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }

  h2 {
    font-size: 30px;
    color: #ff4400;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  h3 {
    font-size: 20px;
    color: #ff4400;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  p {
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  a {
    font-size: 20px;
    color: #0f23fe;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  button[type="submit"] {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button[class="home"] {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: -970px; 
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    font-family: "Open Sans", sans-serif;
  }

  input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
</style>

<body>

  <body>
    <div class="header">
      <a href="/">
        <h1>Jeditt</h1>
      </a>
      <div class="header-right">
        <a href="/subs/list">Sub List</a>
        <form method="post" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </div>
      <hr>
    </div>
    <h2>Create Post</h2>
    <form action="/posts/create" method="post">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />

      <label for="subgroup">Subgroup</label>
      <input type="text" id="subgroup" name="subgroup" required />

      <label for="link">Link</label>
      <input type="text" id="link" name="link" required />

      <label for="creator">Creator</label>
      <input type="text" id="creator" name="creator" required />

      <label for="description" required>Description</label>
      <textarea name="description" id="description" required></textarea>

      <button type="submit" href="/">Create Post</button>
    </form>

    <form action="/">
      <button class="home">Back to Home</button>
    </form>
  </body>

=======
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Creation</title>
</head>
<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #ff4500;
    padding: 10px;
    font-size: 20px;
  }

  .header a {
    color: #ff4500;
    text-decoration: none;
    margin-right: 20px;
  }

  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }

  .header button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  hr {
    margin: 0;
    border: 1px solid #ff4500;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .PostCreation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4400;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
  }

  .PostCreation a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }

  h2 {
    font-size: 30px;
    color: #ff4400;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  h3 {
    font-size: 20px;
    color: #ff4400;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  p {
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  a {
    font-size: 20px;
    color: #0f23fe;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }

  button[type="submit"] {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button[class="home"] {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: -970px; 
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    font-family: "Open Sans", sans-serif;
  }

  input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
</style>

<body>

  <body>
    <div class="header">
      <a href="/">
        <h1>Jeditt</h1>
      </a>
      <div class="header-right">
        <a href="/subs/list">Sub List</a>
        <form method="post" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </div>
      <hr>
    </div>
    <h2>Create Post</h2>
    <form action="/posts/create" method="post">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />

      <label for="subgroup">Subgroup</label>
      <input type="text" id="subgroup" name="subgroup" required />

      <label for="link">Link</label>
      <input type="text" id="link" name="link" required />

      <label for="creator">Creator</label>
      <input type="text" id="creator" name="creator" required />

      <label for="description" required>Description</label>
      <textarea name="description" id="description" required></textarea>

      <button type="submit" href="/">Create Post</button>
    </form>

    <form action="/">
      <button class="home">Back to Home</button>
    </form>
  </body>

>>>>>>> 69883fec1c4b1ec0796f0f2c16020019a8e480f4
</html>