<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding a Comment</title>
  </head>
  <style>
    .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #ff4500;
  padding: 10px;
  font-size: 20px;

}

  .header a {
    color: #ff4500;
    text-decoration: none;
    margin-right: 20px;
  }

  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }

  .header button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  hr {
    margin: 0;
    border: 1px solid #ff4500;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .PostCreation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4400;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
  }

  .PostCreation a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }

    h2 {
      font-size: 30px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
    }
    h3 {
      font-size: 28px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
   
    }
    label {
      font-size: 20px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
   
    }
    input {
      font-size: 20px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
      width: 500px;
      height: 100px;

    }
    ::placeholder {
  font-size: '20px';
  color: '#666';
  margin-Bottom: 5px;
  font-family: '"Open Sans", sans-serif';
  top: 20px;
}
    button{
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
      background-color: #ff4500;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
  </style>
<body>
  <div class="header">
    <a href="/">
      <h1>Jeditt</h1>
    </a>
    <div class="header-right">
      <a href="/subs/list">Sub List</a>
      <form method="post" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>
    <hr>
  </div>  

  <div class="PostCreation">
   <a href="/posts/create" id="createPost">Create a post</a>
   </div>
  
  <h2>Adding a Comment in ⬇️ </h2>
  <form action="/comment/comment-create/<%= post.id %>" method="post">
    <h3><%= post.title %></h3>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" placeholder="Comment here" /><br />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding a Comment</title>
  </head>
  <style>
    .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #ff4500;
  padding: 10px;
  font-size: 20px;

}

  .header a {
    color: #ff4500;
    text-decoration: none;
    margin-right: 20px;
  }

  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }

  .header button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  hr {
    margin: 0;
    border: 1px solid #ff4500;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .PostCreation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4400;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
  }

  .PostCreation a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }

    h2 {
      font-size: 30px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
    }
    h3 {
      font-size: 28px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
   
    }
    label {
      font-size: 20px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
   
    }
    input {
      font-size: 20px;
      color: #666;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
      width: 500px;
      height: 100px;

    }
    ::placeholder {
  font-size: '20px';
  color: '#666';
  margin-Bottom: 5px;
  font-family: '"Open Sans", sans-serif';
  top: 20px;
}
    button{
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
      background-color: #ff4500;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
  </style>
<body>
  <div class="header">
    <a href="/">
      <h1>Jeditt</h1>
    </a>
    <div class="header-right">
      <a href="/subs/list">Sub List</a>
      <form method="post" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>
    <hr>
  </div>  

  <div class="PostCreation">
   <a href="/posts/create" id="createPost">Create a post</a>
   </div>
  
  <h2>Adding a Comment in ⬇️ </h2>
  <form action="/comment/comment-create/<%= post.id %>" method="post">
    <h3><%= post.title %></h3>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" placeholder="Comment here" /><br />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
>>>>>>> 69883fec1c4b1ec0796f0f2c16020019a8e480f4
